In [26]:
import pandas as pd
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[1,2,3]], columns = ["A","B","C"],index=["x","y","z","v"], dtype='int16') ## we can reduce the size of the data type we are using

In [27]:
print(df.head())
print(df.columns)
print(df.index)

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9
v  1  2  3
Index(['A', 'B', 'C'], dtype='object')
Index(['x', 'y', 'z', 'v'], dtype='object')

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, x to v
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      int16
 1   B       4 non-null      int16
 2   C       4 non-null      int16
dtypes: int16(3)
memory usage: 56.0+ bytes

In [29]:
df.describe()

              A         B         C
count  4.000000  4.000000  4.000000
mean   3.250000  4.250000  5.250000
std    2.872281  2.872281  2.872281
min    1.000000  2.000000  3.000000
25%    1.000000  2.000000  3.000000
50%    2.500000  3.500000  4.500000
75%    4.750000  5.750000  6.750000
max    7.000000  8.000000  9.000000

In [30]:
df['A'].unique()

array([1, 4, 7], dtype=int16)

In [32]:
df.shape ##shape of the data frame

(4, 3)

In [33]:
df.nunique()

A    3
B    3
C    3
dtype: int64