In [2]:
lst =[]
print(type(lst))

<class 'list'>

In [3]:
names = ["Sachin","aman","Leo",1,2,3,4,5]
print(names)

['Sachin', 'aman', 'Leo', 1, 2, 3, 4, 5]

In [4]:
mixed_list = ["Aman", 1, True,3.15]
print(mixed_list)

['Aman', 1, True, 3.15]

In [47]:
fruits = ["Banana","Apple","Guava","Mango","Kiwi"]
for i in fruits:
    print(i)

Banana
Apple
Guava
Mango
Kiwi

In [21]:
print(fruits[3])
print(fruits[-1])

Mango
Kiwi

In [8]:
print(type(fruits[1]))

<class 'str'>

In [30]:
print(fruits[1:3])
print(fruits[1:])

['Apple', 'Guava']
['Apple', 'Guava', 'Mango', 'Kiwi']

In [48]:
fruits

['Banana', 'Apple', 'Guava', 'Mango', 'Kiwi']

In [49]:
fruits[2]="Watermelon"
fruits

['Banana', 'Apple', 'Watermelon', 'Mango', 'Kiwi']

In [50]:
fruits.append("Orange")
fruits

['Banana', 'Apple', 'Watermelon', 'Mango', 'Kiwi', 'Orange']

In [39]:
fruits[1:]=("lichi")
fruits

['Banana', 'l', 'i', 'c', 'h', 'i']

In [51]:
fruits.insert(1,"Grapes")
fruits

['Banana', 'Grapes', 'Apple', 'Watermelon', 'Mango', 'Kiwi', 'Orange']

In [52]:
fruits.remove("Kiwi") ##removes the frist occurence of the element in the list 
fruits

['Banana', 'Grapes', 'Apple', 'Watermelon', 'Mango', 'Orange']

In [55]:
popped_fruit=fruits.pop() ##pops the last element from the list and also returns the last element it is popping out
print(popped_fruit)
print(fruits)

idx = fruits.index("Apple")
print(idx)

Watermelon
['Banana', 'Grapes', 'Apple']
2

In [56]:

fruits.insert(2,"Banana")
fruits.count("Banana")

2

In [57]:
fruits.sort() ##sort the list in ascending order

In [61]:
fruits

['Apple', 'Banana', 'Banana', 'Grapes']

In [62]:
fruits.reverse()
fruits

['Grapes', 'Banana', 'Banana', 'Apple']

In [63]:
fruits.clear()
fruits

[]

In [66]:
##slicing List
numbers =[1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2]) ##jump two steps and :: means all the elements
print(numbers[::-1]) ##-1 means just start from back

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [67]:
print(numbers[::-2])

[10, 8, 6, 4, 2]

In [68]:
for idx,num in enumerate(numbers):
    print(f"idx: {idx} and element: {num} ")

idx: 0 and element: 1
idx: 1 and element: 2
idx: 2 and element: 3
idx: 3 and element: 4
idx: 4 and element: 5
idx: 5 and element: 6
idx: 6 and element: 7
idx: 7 and element: 8
idx: 8 and element: 9
idx: 9 and element: 10

In [71]:
##List Comprehension 
lis =[]
for x in range(10):
    lis.append(x**2)
print(lis)

##you can perform all the opertion in the list itself

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [76]:
square =[x**2 for x in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [77]:
square_odd = [x**2 for x in range(10) if x%2!=0]
square_even = [x**2 for x in range(10) if x%2==0]

print(square_odd)
print(square_even)

[1, 9, 25, 49, 81]
[0, 4, 16, 36, 64]

In [83]:
##Nested List Comprehension

lst1 = [1,2,3,4,5,6]
lst2 = ['a','b','c','d','e']

pair = [(i,j) for i in lst1 for j in lst2]
print(pair)

[(1, 'a'), (1, 'b'), (1, 'c'), (1, 'd'), (1, 'e'), (2, 'a'), (2, 'b'), (2, 'c'), (2, 'd'), (2, 'e'), (3, 'a'), (3, 'b'), (3, 'c'), (3, 'd'), (3, 'e'), (4, 'a'), (4, 'b'), (4, 'c'), (4, 'd'), (4, 'e'), (5, 'a'), (5, 'b'), (5, 'c'), (5, 'd'), (5, 'e'), (6, 'a'), (6, 'b'), (6, 'c'), (6, 'd'), (6, 'e')]

In [84]:
lst3 = [x**2 if x%2==0 else x for x in lst1]
print(lst3)

[1, 4, 3, 16, 5, 36]