In [2]:
##creating a tuple 
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [3]:
lst = list()

In [4]:
print(lst)
type(print(lst))

[]
[]

NoneType

In [5]:
tpl = tuple()
print(tpl)
print(type(tpl))

()
<class 'tuple'>

In [6]:
numbers = tuple([1,2,3,4,5,6])
print(numbers)

(1, 2, 3, 4, 5, 6)

In [11]:
print(len(numbers))

6

In [12]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [13]:
mixed_tuple= tuple(["Sachin",18,True,3.14,"Tuple trials"])

In [14]:
print(mixed_tuple)

('Sachin', 18, True, 3.14, 'Tuple trials')

In [24]:
##Accessing tuple elements
print(mixed_tuple[-1])
mixed_tuple[::-1] ##to get the reverse of a tuple or list


##Tuple operation

concat_tuple = numbers + mixed_tuple
print(concat_tuple)

Tuple trials
(1, 2, 3, 4, 5, 6, 'Sachin', 18, True, 3.14, 'Tuple trials')

In [25]:
mixed_tuple*3

('Sachin',
 18,
 True,
 3.14,
 'Tuple trials',
 'Sachin',
 18,
 True,
 3.14,
 'Tuple trials',
 'Sachin',
 18,
 True,
 3.14,
 'Tuple trials')

In [26]:
numbers*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [34]:
##elements of tuples cannot be changed once assigned 
##immutable means elements once changed cannot be changed
lst = []

for i in range(10):
    lst.append(i)

print(lst)
lst = tuple(lst)

print(type(lst))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'tuple'>

In [37]:
print(numbers)

print(numbers.count(1)) ##function to count the frequency of a particular element 
print(numbers.index(3)) ##gives the index where the value is present

(1, 2, 3, 4, 5, 6)
1
2

In [40]:
##Packing and Unpacking of a tuple 

packed_tuple= 18,"Sachin",90.82

print(packed_tuple)

##unpacking a tuple 

a,b,c, = packed_tuple

print(a)
print(b)
print(c)

(18, 'Sachin', 90.82)
18
Sachin
90.82

In [41]:
##Un-Packing with *

numbers= (1,2,3,4,5,6)
first,*middle, last = numbers

print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [46]:
#Nested tuple 
#Nested List

lst = [[1,2,3],[4,5,6,7],["Sachin","Adlakha",90.82]]

print(lst[0])
lst[1][1:3]

[1, 2, 3]

[5, 6]

In [49]:
##You can also have tuples inside a list

lst = [[1,2,3],[4,5,6,7],("Sachin","Adlakha",90.82)]

print(lst[0])
lst[2].count('Adlakha')

[1, 2, 3]

0

In [57]:
##nested tuple

nested_tuple= ((1,2,3,4),("Sachin","Leo",9082),(3.14,3.556),(True,False))

In [58]:
nested_tuple

((1, 2, 3, 4), ('Sachin', 'Leo', 9082), (3.14, 3.556), (True, False))

In [69]:
nested_tuple[1][-1]

##access the elements inside the tuple 



##iterating over nested tuple 
val =1
for i in nested_tuple:
    print(f"In row: ",val)
    val = val +1
    for j in i:
        print(j,end=" ")
    print()

In row:  1
1 2 3 4
In row:  2
Sachin Leo 9082
In row:  3
3.14 3.556
In row:  4
True False